@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --risd-blue: #4551FC;
  --color-pumpkin: #FF8C42;
  --midnight-blue: #1D2376;
  --seashell: #FFF3EF;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-pumpkin: var(--color-pumpkin);
  --color-risd-blue: var(--risd-blue);
  --color-midnight-blue: var(--midnight-blue);
  --color-seashell: var(--seashell);
  --font-red-hat: 'Red Hat Display', sans-serif;
  --font-geist: 'Geist', sans-serif;
  --text-h1: 48px;
  --text-h2: 40px;
  --text-h3: 36px;
  --text-body: 24px;
  --text-detail: 22px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
